.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
}

.cursorDot {
    position: fixed;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background-color: var(--secondary);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
}

@media (max-width: 768px) {

    .cursor,
    .cursorDot {
        display: none;
    }
}